.footer {
  position: relative;
  background-color: var(--neutral-200);
  height: 5rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  outline: .2rem solid var(--button-accent-green-background);
}

[data-theme="dark"] {
  .footer {
    background-color: var(--neutral-900);
  }
}