.container {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  font-weight: 600;
}

.plantContainer {
  list-style: none;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noPlantsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: .25rem;

  ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    li div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: .5rem;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.tagButton {
  padding: .25rem .75rem .25rem .75rem !important;
}

.tagDeleteIcon {
  height: 1.5rem;
  width: 1.5rem;
  fill: var(--accent-red-700);
}

.tagDeleteButton {
  padding: 0 !important;
}